body {
    width: 100%;
    background-image: url(../img/space_img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    width: 100%;
    background-color: gold;
    padding: 2%;
    margin: 0%;
}

.menu {
    background-color: aqua;
    width: 70%;
    height: 500px;
    padding: 100px;
    margin: 2%;
}

.card {
    margin: 5%;
    width: 20%;
    height: 200px;
    display: inline-block;
    background-color: darksalmon;
    box-shadow: rgba(0, 0, 0, .1) 0 5px 5px;
    object-fit: cover;
    position: relative;
    padding: 10px;
}

.card-complete {
    margin: 5%;
    width: 20%;
    height: 200px;
    display: inline-block;
    background-color: dimgray;
    box-shadow: rgba(0, 0, 0, .1) 0 5px 5px;
    object-fit: cover;
    position: relative;
    padding: 10px;
}