{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tasks app</title>
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Roboto+Slab:wght@400;800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class="title-font">Категория {{ name }}</h1>
        <p>{{ description }}</p>

    </header>
    <section class="all-content">

        {% for task in tasks %}
        {% if task.complete %}
        <div class="card-complete">
            <a href="/tasks/{{task.id}}/"><h2 class="card-title-font">{{ task.title|truncatechars:10 }}</h2></a>
            <p class="card-description-font">{{ task.content|truncatechars:100 }}</p>
            <p class="card_date_font">Completed</p>
        </div>
        {% else %}
        <div class="card">
            <a href="/tasks/{{task.id}}/"><h2 class="card-title-font">{{ task.title|truncatechars:10 }}</h2></a>
            <p class="card-description-font">{{ task.content|truncatechars:100 }}</p>
            <p class="card_date_font">до {{ task.finish_date }}</p>
        </div>
        {% endif %}

        {% endfor %}
        <div class="card-add">
            <a href="/tasks/add"><h2 class="card-title-font">Добавить дело</h2></a>
            <p class="card-description-font">нажмите здесь</p>
        </div>
        <div class="save-load-area">
            <div class="save-button">
                <a href="../../edit_category/{{ id }}"><h1 class="save-load-font">Изменить категорию</h1></a>
            </div>
            <div class="load-button">
                <a href="../../delete_category/{{ id }}"><h1 class="save-load-font">Удалить категорию</h1></a>
            </div>
        </div>

        <footer class="footer">
            <h4 class="footer-author">Tasks 2021</h4>
        </footer>
    </section>
</body>
</html>

