{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tasks app</title>
    <link rel="stylesheet" href="../../static/css/style.css" />
</head>



<body>
    <header>
        <h1>{{ name }}</h1>
        <p>{{ description }}</p>
        <h4>{{ category }} - Категория</h4>
        <h4>{{ created_date }} - Дата начала</h4>
        <h4>{{ finish_date }} - Дата окончания</h4>
        <h1>{{ complete }}</h1>

    </header>
</body>
</html>
 
        


