{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tasks app</title>
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Roboto+Slab:wght@400;800&display=swap" rel="stylesheet">
</head>



<body>
    <header>
        <h1 class="title-font">{{ name }}</h1>
    </header>
    <section class="all-content">
        <div class="task-description-card">
            <h4 class="card-title-font">{{ description }}</h4>
            <h4 class="card-description-font">Категория - {{ category }}</h4>
            <h4 class="card_date_font">Дата начала - {{ created_date }}</h4>
            <h4 class="card_date_font">Дата окончания - {{ finish_date }}</h4>
            {% if complete %}
            <h1 class="card-title-font">ДЕЛО СДЕЛАНО</h1>
            {% else %}
            <form action="../../complete/{{ id }}">
                <button type="submit">COMPLETE</button>
            </form>
            {% endif %}
        </div>
        <div class="save-load-area">
            <div class="save-button">
                <a href="../../edit_task/{{ id }}"><h1 class="save-load-font">Изменить задачу</h1></a>
            </div>
            <div class="load-button">
                <a href="../../delete_task/{{ id }}"><h1 class="save-load-font">Удалить задачу</h1></a>
            </div>
        </div>

        <footer class="footer">
            <h4 class="footer-author">Tasks 2021</h4>
        </footer>
    </section>
</body>
</html>




